<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Spring Security Example</title>
</head>
<body>
	<div th:fragment="leftmenu" class="list-group">
		<a th:href="@{/document/documentListManager}" class="list-group-item" th:classappend="${navleft==1}?'active':''">文档列表</a>
		<a th:href="@{/document/uploadFileManager}"  class="list-group-item" th:classappend="${navleft==2}?'active':''">文档上传</a>
		<a th:href="@{/document/documentSecondCheckManager}" class="list-group-item" th:classappend="${navleft==3}?'active':''">文档二审</a>
		<a th:href="@{#}" class="list-group-item" th:classappend="${navleft==4}?'active':''">文档终审</a>
	</div>
</body>
</html>