<!DOCTYPE html>
<html lang="zh"  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
<link rel="shortcut icon" href="images/favicon.ico"/>
<link rel="bookmark" href="images/favicon.ico"/>

<title>作业列表 | 学易口语作业平台</title>
<meta name="keywords" content="" />
<meta name="description" content="" />

<link rel="stylesheet" href="css/reset.css" />
<link rel="stylesheet" href="css/main.css" />
</head>

<body>
<div class="header">
	<div class="hd cf">
		<h1>学易口语作业平台</h1>
		<div class="user_intrance">
			<a class="u_name" href="#">李老师<i></i></a>
			<div class="user_inbox">
				<a href="#">个人中心</a>
				<a href="#">退出</a>
			</div>
		</div>
	</div>

	<div class="main">
		<div class="zy_list_top cf">
			<h2>全部作业</h2>
			<a href="createHomework">新建作业</a>
		</div>
		<div class="zj_list_table">
			<table>
			    <tbody>
			        <tr>
			            <th>发布时间</th>
			            <th>标题</th>
			            <th>状态</th>
			            <th>操作</th>
			        </tr>
			        <tr>
			            <td>2016-08-15 15:20:18</td>
			            <td>课文对话练习</td>
			            <td class="publish_ed">已发布</td>
			            <td><a href="template-2-detail.html">详情</a><a href="template-3-report.html">完成报告</a><a href="#">删除</a></td>
			        </tr>
			        <tr>
			            <td>2016-08-15 15:20:18</td>
			            <td>课文对话练习</td>
			            <td class="publish_no">待发布</td>
			            <td><a href="#">详情</a><a href="#">完成报告</a><a href="#">删除</a></td>
			        </tr>
			        <tr>
			            <td>2016-08-15 15:20:18</td>
			            <td>课文对话练习</td>
			            <td class="publish_ed">已发布</td>
			            <td><a href="#">详情</a><a href="#">完成报告</a><a href="#">删除</a></td>
			        </tr>
			        <tr>
			            <td>2016-08-15 15:20:18</td>
			            <td>课文对话练习</td>
			            <td class="publish_no">待发布</td>
			            <td><a href="#">详情</a><a href="#">完成报告</a><a href="#">删除</a></td>
			        </tr>
			    </tbody>
			</table>
		</div>
	</div>
</div>



<script src="js/jquery-1.12.3.min.js"></script>
<script src="js/common.js"></script>
</body>
</html>