@charset "utf-8";

/*headNav*/
.cmn-nav { border-radius:none;}
.cmn-nav .navbar-nav { margin:0;}
.btn_logout input[type="submit"] { display:block; border:none; height:50px; padding:0 10px;}
@media (min-width:768px){.navbar {border-radius:0;}.btn_logout { float:right;}}
@media (max-width:768px){.btn_logout {float:none;}.btn_logout input[type="submit"] { width:100%;}}





