<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Hello World!</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/common.css}" rel="stylesheet" />
</head>
<body>
	<form action="#" th:action="@{/basic/addVersion}" th:object="${version}" method="post">
		<div>
		<select th:field="*{subject}">
			 <option th:each="subject : ${subjects}" 
          		th:value="${subject.id}" 
          		th:text="${subject.subjectName}">Wireframe</option>
		</select>
		
		<input type="text" th:field="*{versionName}" />
		</div>
		<div>
		<input type="submit" value="提交"/>
		</div>
	</form>

<script src="/js/jquery-1.12.3.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>