<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Hello World!</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/common.css}" rel="stylesheet" />
</head>
<body>
	<nav th:replace="fragments/headNav::nav"></nav>
	<div>
		<div class="col-md-2">
			<div th:include="fragments/basicDataLeft::leftmenu"></div>
		</div>
		<div class="col-md-10">
			
		</div>
	</div>
<script src="/js/jquery-1.12.3.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>