<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Hello World!</title>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="_csrf" th:content="${_csrf.token}" />
<!-- default header name is X-CSRF-TOKEN -->
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/common.css}" rel="stylesheet" />
</head>
<body>
	<nav th:replace="fragments/headNav::nav"></nav>
	<div>
		<div class="col-md-2">
			<div th:include="fragments/basicDataLeft::leftmenu"></div>
		</div>
		<div class="col-md-10">
			<div>
				<button class="btn" data-toggle="modal" data-target="#addModal">新增</button>
			</div>
			<table class="table table-bordered table-hover">
				<caption>学科展示</caption>
				<thead>
					<tr>
						<th>学段</th>
						<th>科目</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody id="tableData">
					<tr th:each="subject:${subjects}">
						<td th:switch="${subject.stage}">
							<span th:case="1">小学</span>
							<span th:case="2">初中</span>
							<span th:case="3">高中</span>
						</td>
						<td th:text="${subject.subjectName}">Bangalore</td>
						<td>修改
							<a th:href="@{/basic/deleteSubject(id=${subject.id})}">删除</a>
						</td>
					</tr>
					<tr th:remove="all">
						<td>Sachin</td>
						<td>Mumbai</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3">
							<input id="totalPage" type="hidden" th:value="${totalPage}"/>
							<ul id="pagination-demo" th:attr="totalPage='${totalPage}'" class="pagination-sm"></ul>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
	<!-- 模态框（Modal） -->
	<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">添加科目</h4>
				</div>
				<div class="modal-body">
					<form id="subjectForm">
						<div class="form-group">
							<label for="exampleInputEmail1">学段</label> <select class="form-control" name="stage">
								<option value="2">初中</option>
								<option value="3">高中</option>
							</select>
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">科目名称</label>
							<input type="text" class="form-control" name="subjectName" placeholder="请输入科目名称" />
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" onclick="submitSubject();">提交更改</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>
<script th:src="@{/js/jquery-1.12.3.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.twbsPagination.js}"></script>
<script type="text/javascript">
	
	$(function() {
		bindPagination();
	});
	function bindPagination(){
		var totalPage =$("#totalPage").val();
		$("#pagination-demo").twbsPagination({
			totalPages : totalPage,
			visiblePages : 5,
			onPageClick : function(event, page) {
				$.ajax({
					url : "/basic/changeTableDataForSubject",
					type : "GET",
					data : {
						page : page
					},
					success : function(data) {
						$("#tableData").replaceWith(data);
					}
				});
			}
		});
	};
	function submitSubject() {
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		var fd = new FormData($("#subjectForm")[0]);
		$.ajax({
			url : "/basic/addSubject",
			type : "POST",
			data : fd,
			processData : false, // 告诉jQuery不要去处理发送的数据
			contentType : false, // 告诉jQuery不要去设置Content-Type请求头
			beforeSend : function(xhr) {
				xhr.setRequestHeader(header, token);
			},
			success : function(data) {
				location.href="/basic/subjectManagerIndex";
			}
		});
	};
</script>
</body>
</html>