<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Hello World!</title>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/common.css}" rel="stylesheet" />
</head>
<body>
	<nav th:replace="fragments/headNav::nav"></nav>
	<div>
		<div class="col-md-2">
			<div th:include="fragments/basicDataLeft::leftmenu"></div>
		</div>
		<div class="col-md-10">
			<div>
				<button class="btn" data-toggle="modal" data-target="#addModal">新增</button>
			</div>
			<table id="table" class="table table-bordered table-hover table-condensed">
				<caption>
					<select id="stageSelectMain" name="stage" th:value="${versionManagerSearchForm.stage}">
						<option value="0" th:selected="${versionManagerSearchForm.stage==0}">请选择</option>
						<option value="2" th:selected="${versionManagerSearchForm.stage==2}">初中</option>
						<option value="3" th:selected="${versionManagerSearchForm.stage==3}">高中</option>
					</select>
					<select id="subjectSelectMain">
						<option th:if="${subjectId}==null">请选择</option>
						<option th:each="subject:${subjects}" th:value="${subject.id}" th:text="${subject.subjectName}"
						th:selected="${subject.id}==${versionManagerSearchForm.subjectId}">语文</option>
						<option th:remove="all">数学</option>
						<option th:remove="all">英语</option>
					</select>
					<span>请选择版本状态</span>
					<select id="statusSelectMain">
						<option value="-1">请选择</option>
						<option value="0" th:selected="${versionManagerSearchForm.status==0}">失效</option>
						<option value="1" th:selected="${versionManagerSearchForm.status==1}">正常</option>
					</select>
					
				</caption>
				<thead>
					<tr>
						<th>学段</th>
						<th>科目</th>
						<th>版本</th>
						<th>排序Id</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody id="tableData">
					<tr th:each="version:${versions}">
						<td th:switch="${version.subject.stage}">
							<span th:case="1">小学</span>
							<span th:case="2">初中</span>
							<span th:case="3">高中</span>
						</td>
						<td th:text="${version.subject.subjectName}">Bangalore</td>
						<td th:text="${version.versionName}">Bangalore</td>
						<td th:text="${version.orderId}">Bangalore</td>
						<td th:switch="${version.status}">
							<span th:case="0">失效</span>
							<span th:case="1">正常</span>
						</td>
						<td><button style="border:1px;" th:onclick="|javascript:toUpdate(${version.id})|">修改</button>
						 <th:block th:switch="${version.status}">
						<a th:case="0" th:href="@{/basic/activeVersion(id=${version.id})}">激活</a>
						<a th:case="1" th:href="@{/basic/deleteVersion(id=${version.id})}">失效</a>
						</th:block>
						</td>
					</tr>
					<tr th:remove="all">
						<td>Sachin</td>
						<td>Mumbai</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="4">
							<input id="totalPage" type="hidden" th:value="${totalPage}"/>
							<ul id="pagination-demo" th:attr="totalPage='${totalPage}'" class="pagination-sm"></ul>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
	<!-- 模态框（Modal） -->
	<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">添加版本</h4>
				</div>
				<div class="modal-body">
					<form id="versionForm" th:object="${version}">
						<input type="hidden" th:field="*{id}"/>
						<div class="form-group">
							<label for="stage">学段</label>
							<select id="stageSelect" class="form-control" name="stage">
								<option value="2" th:selected="${stage==2}">初中</option>
								<option value="3" th:selected="${stage==3}">高中</option>
							</select>
						</div>
						<div class="form-group">
							<label for="subjectName">科目名称</label>
							<select id="subjectSelect" class="form-control" th:field="*{subject}">
								<th:block id="subjectOption" th:each="subject : ${subjects}">
									<option th:fragment="subjectOption" th:value="${subject.id}" th:text="${subject.subjectName}">语文</option>
								</th:block>
								<option value="2" th:remove="all">数学</option>
							</select>
						</div>
						<div class="form-group">
							<label>版本名称</label>
							<input type="text" class="form-control" th:field="*{versionName}" placeholder="请输入版本名称" />
						</div>
						<div class="from-group">
						<label>排序Id</label>
							<input type="text" class="form-control" th:field="*{orderId}"  placeholder="排序Id" />
						</div>
						<div class="from-group">
						<label>状态</label>
							<select id="subjectSelect" class="form-control" th:field="*{status}">
								<option value="0">失效</option>
								<option value="1">正常</option>
							</select>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" onclick="submitSubject();">提交更改</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>
<script th:src="@{/js/jquery-1.12.3.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.twbsPagination.js}"></script>
<script type="text/javascript">
	$(function() {
		$("#stageSelect").on("change", function() {
			var stage = $(this).val()
			$.ajax({
				url : "/basic/getSubjects",
				type : "GET",
				data : {
					stage : stage
				},
				success : function(data) {
					$("#subjectSelect").html(data);
				}
			});
		});
		bindSelect();
		bindPagination();

	});
	function bindPagination(){
		var totalPage =$("#totalPage").val();
		$("#pagination-demo").twbsPagination({
			totalPages : totalPage,
			visiblePages : 5,
			onPageClick : function(event, page) {
				$.ajax({
					url : "/basic/changeTableData",
					type : "GET",
					data : {
						page : page
					},
					success : function(data) {
						$("#tableData").replaceWith(data);
					}
				});
			}
		});
	}
	function bindSelect(){
		$("#stageSelectMain").on("change", function() {
			var stage = $(this).val();
			var status = $("#statusSelectMain").val();
			$.ajax({
				url : "/basic/changeTable",
				type : "GET",
				data : {
					stage : stage,
					subjectId:0,
					status:status
				},
				success : function(data) {
					$("#table").replaceWith(data);
					bindSelect();
					bindPagination();
				}
			});
		});
		$("#subjectSelectMain").on("change", function() {
			var stage = $("#stageSelectMain").val();
			var subjectId = $(this).val();
			var status = $("#statusSelectMain").val();
			$.ajax({
				url : "/basic/changeTable",
				type : "GET",
				data : {
					stage : stage,
					subjectId:subjectId,
					status:status
				},
				success : function(data) {
					$("#table").replaceWith(data);
					bindSelect();
					bindPagination();
				}
			});
		});
		$("#statusSelectMain").on("change", function() {
			var stage = $("#stageSelectMain").val();
			var subjectId = $("#subjectSelectMain").val();
			var status = $("#statusSelectMain").val();
			if(subjectId=="请选择"){
				subjectId=0;
			}
			$.ajax({
				url : "/basic/changeTable",
				type : "GET",
				data : {
					stage : stage,
					subjectId:subjectId,
					status:status
				},
				success : function(data) {
					$("#table").replaceWith(data);
					bindSelect();
					bindPagination();
				}
			});
		})
	}
	function submitSubject() {
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		var fd = new FormData($("#versionForm")[0]);
		$.ajax({
			url : "/basic/addVersion",
			type : "POST",
			data : fd,
			processData : false, // 告诉jQuery不要去处理发送的数据
			contentType : false, // 告诉jQuery不要去设置Content-Type请求头
			beforeSend : function(xhr) {
				xhr.setRequestHeader(header, token);
			},
			success : function(data) {
				location.href = "/basic/versionManagerIndex";
			}
		});
	};
	function toUpdate(id){
		$.ajax({
			url : "/basic/getVersion/"+id,
			type : "GET",
			success : function(data) {
				$("#versionForm").replaceWith(data);
				$("#addModal").modal("show");
			}
		});
	};
	function addModal(){
		$.ajax({
			url : "/basic/newVersion/",
			type : "GET",
			success : function(data) {
				$("#versionForm").replaceWith(data);
				$("#addModal").modal("show");
			}
		});
	}
</script>
</body>
</html>